<center>
  <%= image_tag 'logo.png', height: '110', style: "margin: 13px;"  %>
  <p>■「Mylog」でできること。■</p>
  <p>1. カテゴリが設定できるメモ帳のようなものです。</p>
  <p>2. 読書記録をつけるもよし、タスク管理をするもよし。</p>
  <p>3. 自分の投稿しか見れないので秘密を書いても心配無用。</p>
  <br><br>
  <% if logged_in? %>
    <h4>投稿は<%= link_to "こちら", new_post_path %>、投稿の一覧は<%= link_to "こちら", posts_path %>から。</h4>
  <% else %>
    <h4>ログインは<%= link_to "こちら", login_path %>、ユーザー登録は<%= link_to "こちら", new_user_path %>から。</h4>
  <% end %>
</center>
