<h3><%= fa_icon("terminal", text: "ログイン") %></h3>
<p>メールアドレスとパスワードを入力してください。</p>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email, class: "form-control" %><br>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password, class: "form-control" %><br>

  <%= f.submit "ログイン", class: "btn btn-lg btn-success" %>
<% end %>
