<%= form_for user, class: "form-group" do |f| %>
  <%= f.label :name, "ユーザー名" %>
  <%= f.text_field :name, placeholder: "例）パイン", class: "form-control" %><br>

  <%= f.label :email, "メールアドレス" %>
  <%= f.text_field :email, placeholder: "例）pine0301@example.com", class: "form-control" %><br>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password, class: "form-control" %><br>

  <%= f.label :password_confirmation, "パスワード（確認）" %>
  <%= f.password_field :password_confirmation, class: "form-control" %><br>

  <%= f.submit "登録", class: "btn btn-lg btn-success" %>
<% end %>
