<h3>
  <%= fa_icon("address-book-o", text: @user.name) %>
  <%= link_to "編集", edit_user_path, class: "btn btn-info" %>
</h3>

<table class="table">
  <tr>
    <th class="col-xs-3">メールアドレス</th><td><%= @user.email %></td>
  </tr>
</table>
