<%= form_for post, class: "form-control" do |f| %>
  <%= f.label :title, "タイトル"%>
  <%= f.text_field :title, class: "form-control" %><br>

  <%= f.label :category_id, "カテゴリ" %>
  <%= f.select :category_id, Category.list_for(current_user), { prompt: true }, { class: "form-control" } %><br>

  <%= f.label :content, "内容" %>
  <%= f.text_area :content, class: "form-control" %><br>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "保存", class: "btn btn-lg btn-success" %>
<% end %>
