<h3>
  <%= fa_icon("file-text", text: "投稿一覧") %>
  <%= content_tag :div, "投稿数：#{@posts.total_count}", class: "badge" %>
  <%= link_to "新規投稿", new_post_path, class: "btn btn-success" %>
</h3>
<hr>

<%= render 'layouts/post', { posts: @posts } %>
