<h3>
  <%= fa_icon("file-text", text: @post.title) %>
  <%= link_to "編集", edit_post_path, class: "btn btn-info" %>
  <%= link_to "削除", @post, method: :delete, data: { confirm: "この投稿を削除します。削除して大丈夫ですか？"}, class: "btn btn-warning" %>
</h3>

<table class="table">
  <tr><td><%= simple_format(@post.content) %></td></tr>
  <tr><td><%= fa_icon("tag lg") %>&nbsp;<%= link_to @post.category.name, @post.category %></td></tr>
</table>
