<%= form_for category, class: "form-group" do |f| %>
  <%= f.label :name, "カテゴリ名" %>
  <%= f.text_field :name, placeholder: "例）映画", class: "form-control" %><br>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "保存", class: "btn btn-lg btn-success" %>
<% end %>
