<h3><%= fa_icon("tag", text: "カテゴリの編集") %></h3>

<%= render 'layouts/error_message', { object: @category } %>

<p class="lead">必要な情報を入力してください。</p>
<%= render 'category_form', { category: @category } %>
