<h3>
  <%= fa_icon("tags", text: "カテゴリ一覧") %>
  <%= link_to "新規登録", new_category_path, class: "btn btn-success" %>
</h3>

<table class="table">
  <tr>
    <th class="col-xs-1"></th>
    <th class="col-xs-4">カテゴリ名</th>
    <th class="col-xs-2">投稿数</th>
    <th class="col-xs-5">投稿の最終更新日</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to "編集", edit_category_path(category), class: "btn btn-xs btn-info" %></td>
      <td><%= link_to category.name, category %></td>
      <td><%= category.posts.count %></td>
      <td><%= category.posts.latest_post_time(category) unless category.posts.empty? %></td>
    </tr>
  <% end %>
</table>
