<h3>
  <%= fa_icon("tag", text: @category.name) %>
  <%= content_tag :div, "投稿数：#{@posts.total_count}" ,class: "badge" %>
  <%= link_to "編集", edit_category_path, class: "btn btn-info" %>
  <%= link_to "削除", @category, method: :delete, data: { confirm: "カテゴリを削除すると、それに紐付く#{@category.posts.count}件の投稿も削除されます。削除して大丈夫ですか？"}, class: "btn btn-warning" %>
</h3>
<hr>

<%= render 'layouts/post', { posts: @posts } %>
