<% if object.errors.any? %>
  <p class="text-danger"><%= object.errors.count %>つのエラーがあります。</p>
  <ul>
  <% object.errors.full_messages.each do |error| %>
    <li class="text-danger"><%= error %></li>
  <% end %>
  </ul>
<% end %>
