<%= paginate posts %>

<% unless posts.empty? %>
  <% posts.each do |post| %>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= link_to post.title, post %></h4>
            <%= simple_format(post.content) %>
            <hr>
            <%= fa_icon("tag lg") %>&nbsp;<%= link_to post.category.name, post.category %> | <%= post.updated_at %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= paginate posts %>
