<!DOCTYPE html>
<html>
<head>
  <title>Mylog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix" style="margin: 17px 0px;">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><%= link_to "投稿", new_post_path %></li>
          <li><%= link_to "投稿一覧", posts_path, class: "presentation" %></li>
          <li role="presentation"><a href="#">検索</a></li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                <%=  %>アカウント<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "カテゴリ一覧", categories_path %></li>
                <li><%= link_to "プロフィール（設定）", current_user %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか？" } %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', height: '50' %>
      <% end %>
    </div>
    <div class="jumbotron">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
